.App {
  --base: #FFFFFF;
  --contrast: #000000;
  --base-secondary: #F2F2F2;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background: var(--base);
  min-height: 100vh;
  
  &.dark {
    --base: #18191A;
    --base-secondary: #242526;
    --contrast: #FFFFFF;

    .heart-icon {
      filter: invert(1);
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2, h3, p {
  margin: 0;
}

.theme-switch-container {
  position: fixed;
  top: 32px;
  right: 32px;
  width: 100px;

  @media screen and (max-width: 639px) {
    top: auto;
    right: 50%;
    bottom: 32px;
    transform: translateX(50%);
  }
}